:root {
  --primary-color: #2f2f2f;
  --secondary-color: #CC5500;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --tertiary-text-color: #1a1a1a;
  --accent-color: #80FF00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  margin-bottom: 36px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
}

.header-logo {
  font-size: 24px;
  color: var(--main-text-color);
  padding-right: 430px;
}

.links-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.link-text {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 12px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.hero {
  width: 900px;
  color: var(--main-text-color);
}

.hero-text {
  width: 900px;
  color: var(--secondary-text-color);
}

.picture-container {
  width: 300px;
  border-radius: 24px;
  overflow: hidden;
}

.gallery-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
  margin-bottom: 36px;
}

.gallery-title {
  font-size: 36px;
  color: var(--tertiary-text-color);
  font-weight: 900;
  text-align: center;
}

.picture-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.picture-border {
  width: 250px;
  height: 380px;
  overflow: hidden;
  border: 4px solid var(--secondary-color);
  border-radius: 24px;
}

.quote-section {
  width: 100%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  gap: 36px;
  margin: 36px;
}

.inspiring-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 24px;
  font-weight: 300;
}

.quote-author {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondary-text-color)
}

.call-action-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.call-action-container {
  width: 1100px;
  padding: 24px;
  border-radius: 12px;
  background-color: #80FF00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.call-action-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.footer-section {
  width: 100%;
  height: 100px;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 240px;
  height: 80px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
  color: white;
  border: 4px solid white;
}

.button-call-action {
  color: black;
  border: 4px solid black;
}

img {
  width: 100%;
  height: 100%;
}
