:root {
  --primary-color: #2f2f2f;
  --secondary-color: #83d475;
  --main-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --accent-color: #ff00ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  background-color: var(--primary-color);
  color: var(--main-text-color);
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-logo {
  height: 80px;
  width: 80px;
  margin-right: 430px;
}

.links-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.link-text {
  color: var(--main-text-color);
  text-decoration: none;
}

.hero-container {
}

.hero {
}

.hero-text {

}

.picture-container {

}

.gallery-section {
}

.gallery-title {

}

.picture-gallery {

}

.picture-border {

}

.quote-section {
}

.inspiring-quote {

}

.quote-author {

}

.call-action-section {
}

.call-action-container {

}

.call-action-wrapper {

}

.button {

}